[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websocket-client= "==1.9.0"
urllib3 = "==2.6.2"
loguru = "==0.7.3"
idna = "==3.10"
anyio = "==4.5.2"
certifi = "==2025.11.12"
exceptiongroup = "==1.3.1"
h11 = "==0.16.0"
h2 = "==4.3.0"
hpack = "==4.1.0"
httpcore = "==1.0.9"
hyperframe = "==6.1.0"
sniffio = "==1.3.1"
typing-extensions = "==4.12.2"
httpx = {extras = ["http2"], version = "==0.28.1"}

[dev-packages]
pre-commit = "3.5.0"
pylint = "3.0.2"
flake8 = "6.1.0"
pytest = "7.4.3"
pdoc3 = "0.10.0"

[requires]
python_version = "3.13.0"
