[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websocket-client= "1.2.1"
urllib3 = "1.26.6"
httpx = {extras = ["http2"], version = "0.23.0"}
loguru = "==0.7.0"

[dev-packages]
pre-commit = "2.10.1"
pylint = "2.7.0"
flake8 = "3.8.4"
pytest = "6.2.2"
pdoc3 = "0.10.0"

[requires]
python_version = "3.8"
